repos:
  - repo: 'https://github.com/asottile/reorder_python_imports'
    rev: v3.13.0
    hooks:
      - id: reorder-python-imports
        exclude: src/lib/app/analytics | src/lib/app/converters | src/lib/app/input_converters
        name: 'Reorder Python imports (src, tests)'
        args:
          - '--application-directories'
          - app
  - repo: 'https://github.com/python/black'
    rev: 22.3.0
    hooks:
      - id: black
        name: Code Formatter (black)
  - repo: 'https://github.com/PyCQA/flake8'
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude:  src/lib/app/analytics | src/lib/app/converters | src/lib/app/input_converters
        name: Style Guide Enforcement (flake8)
        args:
          - '--max-line-length=120'
          - --ignore=D100,D203,D405,W503,E203,E501,F841,E126,E712,E123,E131,F821,E121,W605,E402
  - repo: 'https://github.com/asottile/pyupgrade'
    rev: v2.4.3
    hooks:
      - id: pyupgrade
        exclude: src/lib/app/analytics | src/lib/app/converters | src/lib/app/input_converters
        name: Upgrade syntax for newer versions of the language (pyupgrade)
        args:
          - '--py37-plus'
  - repo: 'https://github.com/PyCQA/doc8'
    rev: v1.1.1
    hooks:
      - id: doc8
        name: doc8
        description: This hook runs doc8 for linting docs
        entry: python -m doc8
        language: python
        args: ['--ignore=D001']
        files: '^docs(.*)\.rst'
        require_serial: true
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.1.0
    hooks:
      - id: check-byte-order-marker
      - id: trailing-whitespace
      - id: end-of-file-fixer
        files: \.rst$
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.11.2
#    hooks:
#      - id: mypy
#        additional_dependencies: [ types-six ]
#  - repo: 'https://github.com/PyCQA/pylint'
#    rev: v2.13.9
#    hooks:
#      - id: pylint
#        name: Python Linter (pylint)
#        exclude: tests/|src/lib/app/converters/|src/lib/app/analytics/|src/lib/app/input_converters/
#        args:
#          - '--disable=R0903,C0111,C0301,W0703,R0914,R0801,R0913,E0401,W0511,C0413,R0902,C0103,W0201,C0209,W1203,W0707,C0415,W0611'
#  - repo: 'https://github.com/asottile/dead'
#    rev: v1.3.0
#    hooks:
#      - id: dead
exclude: src/lib/app/analytics | src/lib/app/input_converters
