[BASIC]
good-names=df,f,e

[MASTER]
load-plugins=pylint_pytest

[SPELLING]

max-spelling-suggestions=5
spelling-dict=
spelling-ignore-words=bool,str,strs
spelling-private-dict-file=
spelling-store-unknown-words=no
