pydantic~=2.5
pydantic-extra-types~=2.11
aiohttp~=3.8
boto3~=1.26
opencv-python-headless~=4.7
plotly~=5.14
pandas~=2.2
pillow~=12.1
tqdm~=4.66
requests==2.*
aiofiles==23.*
fire==0.4.0
mixpanel==4.8.3
superannotate-schemas==1.0.49