pydantic~=2.5
pydantic-extra-types~=2.11
aiohttp~=3.8
boto3~=1.42
opencv-python-headless~=4.7
plotly~=6.5
pandas~=2.0
pillow~=12.1
tqdm~=4.66
requests~=2.32
aiofiles~=25.1
fire~=0.7
mixpanel~=5.1
typing_extensions~=4.15
superannotate-schemas==1.0.49